<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %C{3}.%M %m%n</pattern>
		</encoder>
	</appender>

	<root level="warn">
		<appender-ref ref="Console" />
	</root>
    
    <logger name="fr.persistence.copy" level="info" />
    
    <logger name="org.hibernate.SQL" level="DEBUG">
    </logger>

</configuration>